src/main/mule/db-senarios.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="db-senariosFlow" doc:id="658db571-9532-48db-8390-2ad62078b9cf" >
		<http:listener doc:name="Listener" doc:id="e47042c9-09f2-4c37-8d05-255406e97b91" config-ref="HTTP_Listener_config" path="insert"/>
		<db:insert doc:name="Insert" doc:id="c4ccff00-4c54-4412-8dd4-ee108992ba0b" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO emp_data (emp_name, emp_id, emp_status, emp_phone, emp_address)
VALUES (:emp_name, :emp_id, :emp_status, :emp_phone, :emp_address)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_name: payload.empname,
	emp_id: payload.empid,
	emp_status: payload.empstatus,
	emp_phone: payload.empphone,
	emp_address: payload.empaddress
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="c12576b7-09e5-4ad9-a73b-e2c6458966f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "data has been successfully inserted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="db-senariosFlow1" doc:id="a95828ac-7dba-4ddf-94c5-2d5ce3bea106" >
		<http:listener doc:name="Listener" doc:id="55d589fd-a105-4d81-9e4b-a24a2aea9f2e" config-ref="HTTP_Listener_config" path="select"/>
		<db:select doc:name="Select" doc:id="4541250a-a5ac-4dc5-b9fb-d27c78e154c5" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM emp_data where emp_id= :emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_id: payload.empid
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="38603d14-3c1a-468c-8b35-7427647f26fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
